LocalNatIP:192.170.0.1
LocalNatGKIP:168.4.52.1
LocalBackUpIP:192.168.4.8
RemoteBackUpIP:192.168.4.7
BackupPort:6666

BSID:1
CellID:1
MyGKF:101
MyGKPN:101
LocalNetwork:198
ControlChanNum:1
ServiceChanNum:4
#0:5,1:8,2:5and8
DialNumLen:2

#GKF|GKPN|FreqNum|MNC|CellID
NbrAGW:102|102|81|234|2


#ZFZ: zmsi|MDN

ReTransMsgConfig:0x0
#define RETRANS_TYPE_CHCONFIGREQ 0x1
#define RETRANS_TYPE_CHRELEASE   0x2
#define RETRANS_TYPE_DSETUP      0x4
#define RETRANS_TYPE_DGSETUP     0x8
#define RETRANS_TYPE_DCONN       0x10
#define RETRANS_TYPE_DCONN_ACK   0x20
#define RETRANS_TYPE_DRELEASE    0x40
#define RETRANS_TYPE_DDISCONN    0x80
#define RETRANS_TYPE_DCALLRESTORE 0x100

AuthenType:0



